@model Property_rental_management_system.Models.property

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/css/Deactivateaccount.css" rel="stylesheet" />
    <link href="~/Content/css/propertyDelete.css" rel="stylesheet" />

}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Information ! </strong>@TempData["InfoMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}

<div class="main">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> Delete property</h2>
            <h3>Are you sure you want to delete this property?</h3>
            <div>
                <hr />
                <div class="property-image">
                    <img src="@Url.Content(Model.property_image)" alt="Property Image" width="300px" height="200px">
                </div>

                <dl class="dl-horizontal">
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.property_type)</dt>
                        <dd>@Html.DisplayFor(model => model.property_type)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.property_name)</dt>
                        <dd>@Html.DisplayFor(model => model.property_name)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.available_for)</dt>
                        <dd>@Html.DisplayFor(model => model.available_for)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.available_from)</dt>
                        <dd>@Html.DisplayFor(model => model.available_from)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.rent_amount)</dt>
                        <dd>@Html.DisplayFor(model => model.rent_amount)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.rent_type)</dt>
                        <dd>@Html.DisplayFor(model => model.rent_type)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.address)</dt>
                        <dd>@Html.DisplayFor(model => model.address)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.state)</dt>
                        <dd>@Html.DisplayFor(model => model.state)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.city)</dt>
                        <dd>@Html.DisplayFor(model => model.city)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.phone_number)</dt>
                        <dd>@Html.DisplayFor(model => model.phone_number)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.property_description)</dt>
                        <dd>@Html.DisplayFor(model => model.property_description)</dd>
                    </div>
                    <div>
                        <dt>@Html.DisplayNameFor(model => model.status)</dt>
                        <dd>@Html.DisplayFor(model => model.status)</dd>
                    </div>
                </dl>               
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <input type="button" value="Back to list" onclick="location.href='@Url.Action("PropertyDetails", "Admin")'" class="btn btn-info">
                    </div>
                }

            </div>
        </div>
    </div>
</div>
